* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
  font-family: "Orbitron", sans-serif;
}

body {
  background: linear-gradient(black, grey);
  height: 100vh;
  width: 100vw;
}

#name {
  display: flex;
  width: 75%;
  color: white;
  font-size: 125px;
  padding-left: 150px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  text-shadow: 8px 8px 20px black;
}

#profile {
  width: 25%;
  margin-top: 100px;
  border-radius: 50%;
}

#photo {
  width: 300px;
  border-radius: 50%;
  border: 10px;
  box-shadow: 0 0 50px #f8f9fa;
}

#position {
  padding-left: 600px;
  margin-top: -140px;
  color: white;
  display: flex;
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
}

.hover-effect {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 2px;
  transition: text-shadow 0.3s ease;
}

.hover-effect:hover {
  text-shadow: 0 0 10px rgb(255, 255, 253), 0 0 20px rgb(255, 255, 255),
    0 0 30px rgb(255, 255, 255);
}

.social-icon {
  transition: box-shadow 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.social-icon:hover {
  filter: drop-shadow(0 0 15px rgba(255, 255, 253))
    drop-shadow(0 0 30px rgba(255, 255, 253));
  transform: scale(1.1);
}

.previous-button {
  transition: box-shadow 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.previous-button:hover {
  filter: drop-shadow(0 0 15px rgba(255, 255, 253))
    drop-shadow(0 0 30px rgba(255, 255, 253));
  transform: scale(1.1);
}

.next-button {
  transition: box-shadow 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.next-button:hover {
  filter: drop-shadow(0 0 15px rgba(255, 255, 253))
    drop-shadow(0 0 30px rgba(255, 255, 253));
  transform: scale(1.1);
}
.img-fluid {
  transition: box-shadow 0.3s ease, transform 0.3s ease, filter 0.3s ease;  
}

.img-fluid:hover {
  filter: drop-shadow(0 0 15px rgba(255, 255, 253))
    drop-shadow(0 0 30px rgba(255, 255, 253));
  transform: scale(1.1);
}